html, body {
    height: 100vh;
    margin: 0 !important;
    padding: 0 ;
    overflow-y: hidden;
}
.mainDiv {
    background-image: url("../images/fondogomaweb.png");
    background-size: contain;
    background-repeat: repeat-x;
    overflow-x: scroll;
    overflow-y: hidden !important;
    height: 100vh;
    width: 1550%;
    display:flex;
    flex-direction: row;
    position: relative;
}
.firstImg {
    width: 200px;
    position: absolute;
    top: 10%;
    left: 1%
    
}
.secondImg {
    width: 200px;
    position: absolute;
    top: 55%;
    left: 2%
}
.thirdImg {
    width: 200px;
    position: absolute;
    top: 25%;
    left: 6%
}

.modal-content img {
    width: 100%;
}
.marqueeP {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 2rem;
}
